<section class="advantages" id="advantages">
  <div class="container">
    <p class="subtitle">Переваги</p>
    <h2 class="advantages-title">Чому обрати нас?</h2>
    <p class="section-description">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>

    <ul class="features-list">
      <li class="features-item">
        <img
          class="advantages-img"
          srcset="
            /img/images/natural-materials-1x.png 1x,
            /img/images/natural-materials-2x.png 2x
          "
          src="/img/images/natural-materials-1x.png"
          alt="Стійкість та екологічність"
        />
        <h3 class="feature-title">Стійкість та екологічність</h3>
        <p class="feature-text">
          Виготовлені з органічної бавовни та переробленого пластику.
        </p>
      </li>
      <li class="features-item">
        <img
          class="advantages-img"
          srcset="
            /img/images/sturdy-tote-bag-1x.png 1x,
            /img/images/sturdy-tote-bag-1x.png 2x
          "
          src="/img/images/sturdy-tote-bag-1x.png"
          alt="Міцність і довговічність"
        />
        <h3 class="feature-title">Міцність і довговічність</h3>
        <p class="feature-text">
          Наші сумки мають посилені шви для тривалого використання.
        </p>
      </li>
      <li class="features-item">
        <picture>
          <source
            srcset="
              /img/images/eco-tote-bags-tab-1x.png 1x,
              /img/images/eco-tote-bags-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="advantages-img nth-child"
            src="/img/images/eco-tote-bags-1x.png"
            alt="Стильний та сучасний дизайн"
          />
        </picture>
        <h3 class="feature-title">Стильний та сучасний дизайн</h3>
        <p class="feature-text">
          Мінімалістичні моделі в обмежених серіях для кожного стилю.
        </p>
      </li>
    </ul>
  </div>
</section>
