<section class="gallery" id="gallery-section">
  <h2 class="gallery-title">Галерея зображень</h2>
  <h3 class="gallery-subtitle">EcoTotes у повсякденному житті</h3>
  <div class="container">
    <ul class="gallery-list">
      <!-- 1. Дівчина з овочами -->
      <li class="gallery-item">
        <picture>
          <source
            srcset="./img/images/eco-tote-placed-2x.png"
            media="(min-width: 1440px)"
          />
          <source
            srcset="./img/images/eco-tote-placed-1x.png"
            media="(min-width: 768px)"
          />
          <img
            src="./img/images/eco-tote-placed-1x.png"
            alt="An eco tote placed on a chair or beside a table at a cozy coffee shop"
            class="gallery-img"
            loading="lazy"
          />
        </picture>
      </li>

      <!-- 2. Хлопець у піджаку -->
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              ./img/images/city-person-2x.png 2x,
              ./img/images/city-person-1x.png 1x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/images/city-person-mobile-2x.png 2x,
              ./img/images/city-person-mobile-1x.png 1x
            "
            media="(max-width: 768px)"
          />
          <img
            src="./img/images/city-person-1x.png"
            alt="A city scene where a stylish person carries a tote bag"
            class="gallery-img"
            loading="lazy"
          />
        </picture>
      </li>

      <!-- 3. ECO на стільці -->
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              ./img/images/person-walking-1x.png 1x,
              ./img/images/person-walking-2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/images/person-walking-1x.png 1x,
              ./img/images/person-walking-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            srcset="
              ./img/images/person-walking-mobile-1x.png 1x,
              ./img/images/person-walking-mobile-2x.png 2x
            "
            src="./img/images/person-walking-mobile-1x.png"
            alt="A person walking with a recycle eco tote bag"
            class="gallery-img"
            loading="lazy"
          />
        </picture>

        <!-- 4. Людина з recycle сумкою -->
      </li>

      <li class="gallery-item">
        <picture>
          <img
            srcset="
              ./img/images/young-woman-holding-1x.png 1x,
              ./img/images/young-woman-holding-2x.png 2x
            "
            src="./img/images/young-woman-holding-1x.png"
            alt="A young woman holding a large eco tote bag"
            class="gallery-img"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
