<header class="header">
  <div class="container header-wrapper">
    <a class="header-logo" href="./index.html"
      ><img
        class="logo"
        src="/img/images/Logo.svg"
        alt="logo"
        width="84"
        height="36"
    /></a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="nav-list-item">
          <a class="nav-list-link" href="#about">Про нас</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="#advantages">Переваги</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="#assortment">Асортимент</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="#gallery">Галерея</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="#feedbacks">Відгуки</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="#support">Контакти</a>
        </li>
      </ul>
    </nav>
    <address class="header-address">
      <ul class="header-address-list">
        <li class="address-list-item">
          <a class="address-list-link" href="tel:+380999091122"
            >+38 (099) 909 11 22</a
          >
        </li>
        <li class="address-list-item">
          <a class="address-list-link" href="mailto:hello@ecotote.com"
            >hello@ecotote.com</a
          >
        </li>
      </ul>
    </address>
    <button type="button" class="burger-btn" data-menu-open>
      <svg class="burger-icon" width="32" height="32">
        <use href="/img/images/symbol-defs.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
