<section class="hero">
  <div class="container">
    <div class="hero-text-picture">
      <div class="hero-text">
        <h1 class="hero-title">EcoTote — Стиль, що не шкодить планеті</h1>
        <div class="hero-text-btn">
          <p class="hero-paragraph">
            Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
            відповідальність разом з EcoTote.
          </p>

          <a class="hero-btn" href="#assortment">Купити зараз</a>
        </div>
      </div>
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="../images/hero-1x.png 1x, ../images/hero-2x.png 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ../images/hero-screen-1x.png 1x,
            ../images/hero-screen-2x.png 2x
          "
        />
        <img
          class="hero-picture"
          src="../images/hero-mobile-1x.png"
          srcset="../images/hero-mobile-2x.png 2x"
          alt="ecotote"
        />
      </picture>
    </div>
  </div>
</section>
