<div class="navbar is-open">
  <div class="container">
    <a class="header-logo" href="/index.html"
      ><img
        class="logo"
        src="/img/images/Logo.svg"
        alt="logo"
        width="84"
        height="36"
    /></a>
    <button class="close-btn" type="button">
      <svg class="close-icon" width="32" height="32">
        <use href="../img/images/symbol-defs.svg#icon-icon"></use>
      </svg>
    </button>
    <nav class="navbar-nav">
      <ul class="navbar-list">
        <li class="navbar-list-item">
          <a class="navbar-list-link" href="#about">Про нас</a>
        </li>
        <li class="navbar-list-item">
          <a class="navbar-list-link" href="#advantages">Переваги</a>
        </li>
        <li class="navbar-list-item">
          <a class="navbar-list-link" href="#assortment">Асортимент</a>
        </li>
        <li class="navbar-list-item">
          <a class="navbar-list-link" href="#gallery">Галерея</a>
        </li>
        <li class="navbar-list-item">
          <a class="navbar-list-link" href="#feedbacks">Відгуки</a>
        </li>
        <li class="navbar-list-item">
          <a class="navbar-list-link" href="#support">Контакти</a>
        </li>
      </ul>
    </nav>
    <address class="navbar-address">
      <ul class="navbar-address-list">
        <li class="navbar-address-list-item">
          <a class="navbar-address-list-link" href="tel:+380999091122"
            >+38 (099) 909 11 22</a
          >
        </li>
        <li class="navbar-address-list-item">
          <a class="navbar-address-list-link" href="mailto:hello@ecotote.com"
            >hello@ecotote.com</a
          >
        </li>
      </ul>
    </address>
  </div>
</div>
