button {
  padding: 0;
}
.header {
  background-color: #75d281;
}
.header .container {
  padding-left: 20px;
  padding-right: 12px;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
}
.header-nav-list {
  display: none;
}
.header-address-list {
  display: none;
}

.burger-btn {
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .header .container {
    padding-left: 32px;
    padding-right: 16px;
  }

  .burger-icon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .header .container {
    padding-left: 64px;
    padding-right: 64px;
  }

  .logo {
    height: 45px;
    width: 106px;
  }
  .burger-btn {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-nav-list {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  .header-address {
    display: flex;
    align-items: center;
  }
  .header-address-list {
    display: flex;
    gap: 16px;
  }
  .nav-list-link,
  .address-list-link {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.6;
    color: #030a06;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.nav-list-link:hover,
.address-list-link:hover,
.nav-list-link:focus,
.address-list-link:focus {
  color: #113916;
}
